KafkaServer {
    org.apache.kafka.common.security.scram.ScramLoginModule required
    username="{{ kafka_scram_user }}"
    password="{{ kafka_scram_password }}";
};

KafkaClient {
    org.apache.kafka.common.security.scram.ScramLoginModule required
    username="{{ kafka_scram_user }}"
    password="{{ kafka_scram_password }}";
};

Client {
    org.apache.kafka.common.security.scram.ScramLoginModule required
    username="{{ kafka_scram_user }}"
    password="{{ kafka_scram_password }}";
};

